.app {
  max-width: 500px;
  margin: 16px auto;
}

h4 button {
  margin-left: 10px;
}

.w3-select {
  background-color: transparent;
  -webkit-appearance: none; /* also removes arrows */
  -moz-appearance: none;
  appearance: none;
  padding: 8px;
}

.w3-bar {
  margin-top: 32px;
}
