.app {
  max-width: 500px;
  margin: 15px auto;
}

h4 button {
  margin-left: 10px;
}

.w3-select {
  background-color: transparent;
  appearance: none;
  padding: 8px 0;
}

.w3-bar {
  margin-top: 32px;
}
